<!-- navbar section start -->
<div class="container-fluid row px-5">
    <nav class="navbar navbar-expand-lg p-0 navbar-light bg-light">
      <div class="container-fluid t-back-white">
        <a class="navbar-brand" href="#">
          <span class="color-black"><span class="color-orange ps-md-5">G</span>YM</span>
          <span>EDGE</span>
          <p style="font-size: 15px;" class="ps-md-5">FITNESS CENTER</p>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div style="color: black;" class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="collapse navbar-collapse d-flex justify-content-lg-end " id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" routerLink="">Home</a>
              <a class="nav-link pe-lg-4" routerLink="plan">PLAN</a>
              <a class="nav-link pe-lg-4" routerLink="classes">CLASSES</a>
              <a class="nav-link pe-lg-4" routerLink="schedule">SCHEDULE</a>
              <a class="nav-link pe-lg-4" routerLink="trainers">TRAINERS</a>
              <a class="nav-link pe-lg-4" routerLink="blog">BLOG</a>
              <a class="nav-link pe-lg-4" routerLink="signup">SIGN UP</a>
              <a class="nav-link " href="#"><i class="color-orange fas fa-search nav-res"></i>
                <span class="border-end ps-3"></span></a>
              <a class="nav-link " href="#"><i class="fas fa-cart-arrow-down nav-res"></i></a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <!-- navbar section close -->