  <!-- footer start -->
  <div class="container-fluid px-sm-5 planing-bac-col py-5 mt-5">
    <div class="container row py-5">
      <div class="col-lg-3 pe-md-5"><h3 class="pb-3 color mt-3">About Company</h3>
        <p class="footer-col">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque, deserunt. Debitis maxime quibusdam rerum commodi nam quos, nostrum eaque odio temporibus, quisquam sed. Aliquam aperiam ratione dolorum dolorem earum quas?</p>
      </div>
      <div class="col-lg-3">
        <h3 class="pb-3 color mt-3">Follow Us on Twitter</h3>
        <div class="tweet-res btn-res">
          <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Elegant Themes Cyber Monday Sales<a href="https://t.co/o9p40MZSed">https://t.co/o9p40MZSed</a> <a href="https://t.co/bEPTLlJtHa">pic.twitter.com/bEPTLlJtHa</a></p>&mdash; WordPress Theme Review (@BestWordPressTh) <a href="https://twitter.com/BestWordPressTh/status/1201417004051132417?ref_src=twsrc%5Etfw">December 2, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
      <div class="col-lg-3 ps-lg-5"><h3 class="pb-3 color mt-3">Flickr Photos</h3>
        <div>
         <img src="assets/pic/frame.jpg" class="img-res" style="width: 180px;">
        </div>
      </div>
      <div class="col-lg-3">
        <h3 class="pb-3 color mt-3">Corporate Office</h3>
        <div><span class="footer-col">
          <i class="color-orange pe-3 pb-3 fab fa-telegram-plane"></i>44 New Design Street, rne 005
        </span></div>
        <div><span class="footer-col">
          <i class="color-orange pe-3 pb-3 fas fa-phone-alt"></i>01800433633
        </span></div>
        <div><span class="footer-col">
          <i class="color-orange pe-3 pb-3 far fa-envelope"></i> info@gymedge.com
        </span></div>
        <div><span class="footer-col">
          <i class="color-orange pe-3 pb-3 fas fa-tty"></i> (123) 118 9999
        </span></div>
      </div>
    </div>
  </div>

  <div class="container-fluid foot-col pt-4 pb-4">
<p class="row color foot-col d-flex justify-content-center text-center">
  © Copyright GymEdge 2016. All Right Reserved. Designed and Developed by RadiusTheme</p>
</div>

  <!-- footer close -->