<app-header></app-header>
<div class="containr-fluid mt-5">
    <div class="schedule p-5  mt-5">
      <div>
        <h2 class="color ms-5 pt-5">CLASS SCHEDULE</h2>
      </div>
      <div class="" style="overflow: auto;">
        <table class="m-5 pb-5 tableb tablea">
          <tr>
            <th></th>
            <th class="t-back-orange tha">Monday</th>
            <th class="t-back-orange tha">Tuesday</th>
            <th class="t-back-orange tha">Wednesday</th>
            <th class="t-back-orange tha">Thrusday</th>
            <th class="t-back-orange tha">Friday</th>
            <th class="t-back-orange tha">Saturday</th>
            <th class="t-back-orange tha">Sunday</th>
          </tr>
          <tr>
            <td class="color tda">12:00am</td>
            <td class="t-back-white tda"><span class="color-orange">Karate</span><br> 12:00am-12:00am</td>
            <td class="t-back-white tda"><span class="color-orange">Body Building</span><br> 12:00am-12:00am</td>
            <td class="tda"></td>
            <td class="t-back-white tda"><span class="color-orange">Meditation</span><br> 12:00am-12:00am</td>
            <td class="t-back-white tda"><span class="color-orange">Yoga</span><br> 12:00am-12:00am</td>
            <td class="tda"></td>
            <td class="t-back-white tda" class="t-back-white"><span class="color-orange">Running</span><br>
              12:00am-12:00am</td>
          </tr>
          <tr>
            <td class="color tda">12:00am</td>
            <td class="t-back-white tda"><span class="color-orange">Body Building</span><br> 12:00am-12:00am</td>
            <td class="tda"></td>
            <td class="t-back-white tda"><span class="color-orange">Meditation</span><br> 12:00am-12:00am</td>
            <td class="t-back-white tda"><span class="color-orange">Yoga</span><br> 12:00am-12:00am</td>
            <td class="tda"></td>
            <td class="t-back-white tda" class="t-back-white"><span class="color-orange">Running</span><br>
              12:00am-12:00am</td>
            <td class="t-back-white tda"><span class="color-orange">Karate</span><br> 12:00am-12:00am</td>
          </tr>
          <tr>
            <td class="color tda">12:00am</td>
            <td class="tda"></td>
            <td class="tda"></td>
            <td class="tda"></td>
            <td class="tda"></td>
            <td class="tda"></td>
            <td class="t-back-white tda"><span class="color-orange">Cycling</span><br> 12:00am-12:00am</td>
            <td class="tda"></td>
          </tr>
          <tr>
            <td class="color tda">12:00am</td>
            <td class="tda"></td>
            <td class="tda"></td>
            <td class="tda"></td>
            <td class="tda"></td>
            <td class="tda"></td>
            <td class="tda"></td>
            <td class="t-back-white tda"><span class="color-orange">Martial Art</span><br> 12:00am-12:00am</td>
          </tr>
          <tr>
            <td class="color tda">12:00am</td>
            <td class="tda"></td>
            <td class="tda"></td>
            <td class="tda"></td>
            <td class="tda"></td>
            <td class="t-back-white tda"><span class="color-orange">Cycling</span><br> 12:00am-12:00am</td>
            <td class="tda"></td>
            <td class="tda"></td>
          </tr>
          <tr>
            <td class="color tda">12:00am</td>
            <td class="t-back-white tda" class="t-back-white"><span class="color-orange">Running</span><br>
              12:00am-12:00am</td>
            <td class="t-back-white tda"><span class="color-orange">Karate</span><br> 12:00am-12:00am</td>
            <td class="t-back-white tda"><span class="color-orange">Body Building</span><br> 12:00am-12:00am</td>
            <td class="tda"></td>
            <td class="t-back-white tda"><span class="color-orange">Meditation</span><br> 12:00am-12:00am</td>
            <td class="t-back-white tda"><span class="color-orange">Yoga</span><br> 12:00am-12:00am</td>
            <td class="tda"></td>
          </tr>
          <tr>
            <td class="color tda">12:00am</td>
            <td class="tda"></td>
            <td class="tda"></td>
            <td class="t-back-white tda"><span class="color-orange">Martial Art</span><br> 12:00am-12:00am</td>
            <td class="tda"></td>
            <td class="tda"></td>
            <td class="tda"></td>
            <td class="tda"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

 <!-- feature class wala section close -->

 <div class="container-lg container-fluid-md my-5  py-5">

  <!-- feature class headind and arrow section start -->
  <div class="row px-md-3 px-sm-0 d-flex justify-content-lg-between">
    <div class=" ps-5 col-lg-4 col-md-6 col-sm-6 col-8  order-xxl-0  order-xl-0 order-lg-0">
      <h3>FEATURED CLASS</h3>
    </div>

    <div class="col-lg-3 col-md-5 col-sm-4  col-4 order-xxl-2 order-xl-2 order-lg-2 ps-md-5 ms-md-5 ">
      <span class="ms-lg-5 ps-lg-5"><a href=""><i class="fas fa-arrow-right arrow-box mb-2"></i></a>
      </span><span><a href=""><i class="fas arrow-box  fa-arrow-left mt-2"></i></a></span>
    </div>

    <div class="col-lg-4  col-md-12 col-sm-12 d order-xxl-1 order-xl-1 order-lg-1">
      <hr>
    </div>
  </div>
  <!-- feature class headind and arrow section start -->

  <!-- feature class images card section start -->
  <div class="container-sm">
    <div class="row d-flex justify-content-evenly">
      <div class="col-lg-4  col-md-5 d-flex justify-content-center">
        <div class="card color-gray mt-5" style="width: 22rem;">
          <img src="assets/pic/class.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="ps-sm-3 pt-sm-3">
              <h5>Cycling</h5>
            </div>
            <div class="ps-3 pt-sm-2"><i class="fas fa-user-alt color-orange me-2"></i>Lorem, ipsum dolor.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4  col-md-5  d-flex justify-content-center">
        <div class="card color-gray mt-5" style="width: 22rem;">
          <img src="assets/pic/class 1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="ps-sm-3 pt-sm-3">
              <h5>Cycling</h5>
            </div>
            <div class="ps-3 pt-sm-2"><i class="fas fa-user-alt color-orange me-2"></i>Lorem, ipsum dolor.
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4  col-md-5  d-flex justify-content-center">
        <div class="card color-gray mt-5" style="width: 22rem;">
          <img src="assets/pic/class 3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="ps-sm-3 pt-sm-3">
              <h5>Cycling</h5>
            </div>
            <div class="ps-3 pt-sm-2"><i class="fas fa-user-alt color-orange me-2"></i>Lorem, ipsum dolor.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- feature class images card section start -->


  
<app-footer></app-footer>