<app-header></app-header>
<form action="">
    <div class="container-md p-5" style="background-image: url(assets/pic/formtest.jpg); background-size: cover;">
      <div  class="row my-3">
        <div class="col">
          <input type="text" class="form-control bg-transparent" placeholder="First name" aria-label="First name">
        </div>
        <div class="col">
          <input type="text" class="form-control bg-transparent" placeholder="Last name" aria-label="Last name">
        </div>
      </div>
      <div class="row my-3">
        <div class="col">
          <input type="email" class="form-control bg-transparent" placeholder="Email" >
        </div>
        <div class="col">
          <input type="password" class="form-control bg-transparent" placeholder="Password" >
        </div>
      </div>
      <div class="mb-3 my-3">
        <input type="text" class="form-control bg-transparent" id="formGroupExampleInput" placeholder="Address1">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control bg-transparent" id="formGroupExampleInput2" placeholder="Address2">
      </div>
      <div class="row g-3">
        <div class="col-sm-7">
          <input type="text" class="bg-transparent form-control" placeholder="City" aria-label="City">
        </div>
        <div class="col-sm">
          <input type="text" class="bg-transparent form-control" placeholder="State" aria-label="State">
        </div>
        <div class="col-sm">
          <input type="text" class="bg-transparent form-control" placeholder="Zip" aria-label="Zip">
        </div>
      </div>
      <button type="submit" class="btn btn-primary my-3">Sign Up</button>
    </div>
    </form>
<app-footer></app-footer>