  <app-header></app-header>
  <!-- gallery section start -->
  <div class="container-md mt-5 mb-5">
    <div class="row pt-sm-5 pb-5">
      <div class="col-lg-4 col-md-12 ps-2 text-lg-start text-sm-center gallery-res">
        <h2>OUR GALLERY</h2>
      </div>
      <div class="col-lg-8 col-md-12 text-lg-end text-sm-center">
        <button class="px-4 py-2 gallery-btn t-back-orange border">ALL</button>
        <button class="px-4 py-2 gallery-btn back-color-w">YOGA</button>
        <button class="px-4 py-2 gallery-btn back-color-w">FITNESS</button>
        <button class="px-4 py-2 gallery-btn back-color-w">GYM</button>
        <button class="px-4 py-2 gallery-btn back-color-w">RUNNING</button>
      </div>
    </div>
    <div class="row d-flex pb-5 gallery-res justify-content-sm-evenly">
      <div class="col-sm-4 gallery-m gall-pic-1  gallery"></div>
      <div class="col-sm-4 gallery-m gall-pic-2  gallery"></div>
      <div class="col-sm-4 gallery-m gall-pic-3  gallery"></div>
      <div class="col-sm-4 gallery-m gall-pic-4  gallery"></div>
      <div class="col-sm-4 gallery-m gall-pic-5  gallery"></div>
      <div class="col-sm-4 gallery-m gall-pic-6  gallery"></div>
    </div>
  </div>
  <!-- gallery section close -->
  <app-footer></app-footer>