<app-header></app-header>
<!-- carousel section start -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/pic/c 1.jpg" class="d-block w-100 " alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/pic/c 2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/pic/c 3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- carousel section close -->


<!-- carousel se neja wala section start -->
<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-md-6 carousel-necha-pic"></div>
        <div class="col-md-6 color-gray">
            <div class="row ps-3 pt-3">
                <h3><i class="fas color-orange fa-arrows-alt-v pt-5 pe-2"></i><a href="" class="color-black">Weight
                        Lifting</a></h3>
                <div class="row ps-5 pt-2 pb-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
                    neque,Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit </div>
            </div>
            <div class="row ps-3 pt-3">
                <h3><i class="fab color-orange fa-accessible-icon pt-5 pe-2"></i><a href=""
                        class="color-black">Running</a>
                </h3>
                <div class="row ps-5 pt-2 pb-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
                    neque,Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit </div>
            </div>
            <div class="row ps-3 pt-3">
                <h3><i class="fas color-orange fa-child pt-5 pe-2"></i><a href="" class="color-black">Yoga</a></h3>
                <div class="row ps-5 pt-2 pb-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
                    neque,Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit </div>
            </div>
        </div>
    </div>
</div>
<!-- carousel se neja wala section close -->

<!-- sign up backgroung pic start -->
<div class="container-fluid color-gray">
    <div class="row ">
        <div class="col-md-6">
            <div class="text-center"><img src="assets/pic/back-rem.png" class="img-fluid"></div>
        </div>
        <div class="col-md-6 mt-sm-5 pe-5 my-sm-0 pt-sm-0">
            <div style="font-size:7vw;">
                <div class="text-center">BEING BODY</div>
            </div>
            <div style="font-size:5vw;">
                <div class="text-center">BUILDERS</div>
            </div>
            <div>
                <div class="text-center"><a href="#" class="btn signup">Sign Up</a></div>
            </div>
        </div>
    </div>
</div>
<!-- sign up backgroung pic close -->


<!--what client say section start  -->
<div class="container-fluid px-md-5">
    <div class="row my-5">
        <div class="row p-5 ps-4">
            <h3>WHAT CLIENT'S SAY</h3>
        </div>

        <div class="col-md-6 pb-md-0 client  ps-m-d5 d-flex">
            <div class="col-sm-3 client-m clients-image"></div>
            <div class="col-9 ps-md-4">
                <div class="row d-flex">
                    <div class="col-10">
                        <h4 class="pb-4">
                            <span class=" " style="border-bottom: 2px solid orange;">
                                Lorem</span>ipsum dolor
                        </h4>
                    </div>
                    <div class="col-2"><i class=" col-4 d-flex flex-row-reverse fas fa-quote-left"></i></div>
                </div>
                <div class="row">
                    sit amet, consectetur adipisicing elit. Possimus hic asperiores, minus perferendis iure sit amet,
                    consectetur adipisicing elit. Possimus hic asperiores, minus perferendis iure.</div>
            </div>
        </div>

        <div class="col-md-6 pb-md-0   ps-m-d5 d-flex">
            <div class="col-sm-3 client-m clients-image"></div>
            <div class="col-9 ps-md-4">
                <div class="row d-flex">
                    <div class="col-10">
                        <h4 class="pb-4">
                            <span class=" " style="border-bottom: 2px solid orange;">
                                Lorem</span>ipsum dolor
                        </h4>
                    </div>
                    <div class="col-2"><i class=" col-4 d-flex flex-row-reverse fas fa-quote-left"></i></div>
                </div>
                <div class="row">
                    sit amet, consectetur adipisicing elit. Possimus hic asperiores, minus perferendis iure sit amet,
                    consectetur adipisicing elit. Possimus hic asperiores, minus perferendis iure.</div>
            </div>
        </div>


    </div>
</div>

<!--what client say section close  -->


<!-- bmi claculate section start -->
<div class="container-fluid">
    <div class="bmi-pic">
        <div class="row">

            <div class="col-md-6 pb-md-5">
                <div class="pb-md-5 color pt-3 pb-md-5 ms-5">
                    <div class="container-md ms-md-5">
                        <h2 class="pt-5 mt-md-3">CALCULATE YOUR BMI</h2>
                        <div class="pt-3 pb-2">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime consectetur soluta numquam
                            architecto
                            sit
                            dolorem dolores reiciendis beatae exercitationem incidunt.
                        </div>
                        <div class="pt-2 pb-4">
                            <input type="radio" class="ms-0 mx-3" name="units"><label>Metric Units</label><input
                                type="radio" name="units" class="mx-3"><label>Imperial Units</label>
                        </div>
                        <div class="pt-2">
                            <span class="col-sm-6 kg-cm px-4 py-2 me-3 btn-res">Weight/kg</span>
                            <span class="kg-cm col-sm-6 px-4 py-2 btn-res">Height/cm</span>
                        </div>
                        <div class="pt-5 mb-5 btn-res">
                            <button class="t-back-orange color cal px-4 pt-2 pb-1">
                                <h4>Claculate</h4>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 color mt-md-5 ps-5">
                <div class="container-md pt-md-4">
                    <div class="container-md my-5" style="overflow-x:auto;">
                        <table class="bmi-table">
                            <tr>
                                <th class="ps-4 t-back-orange table-b-a">BMI</th>
                                <th class="ps-4 t-back-orange table-b-b">Weight Status</th>
                            </tr>
                            <tr>
                                <td class="ps-4 t-back-orange">Below 18.5</td>
                                <td class="ps-4 t-back-orange">Underweight</td>
                            </tr>
                            <tr>
                                <td class="ps-4 t-back-orange">18.5 - 24.9</td>
                                <td class="ps-4 t-back-orange">Normal</td>
                            </tr>
                            <tr>
                                <td class="ps-4 t-back-orange">25 - 29.9</td>
                                <td class="ps-4 t-back-orange">Overweight</td>
                            </tr>
                            <tr>
                                <td class="ps-4 t-back-orange table-b-c">30 and Above</td>
                                <td class="ps-4 t-back-orange table-b-d">Obese</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bmi claculate section close -->



<!-- online store section start -->

<!-- online store heading and arrow section start -->
<div class="container-md mt-5 py-5">
    <div class="row ms-lg-4 px-sm-0 d-flex justify-content-lg-between">
        <div class="col-lg-4 col-md-6 col-sm-6 col-8  order-xxl-0  order-xl-0 order-lg-0">
            <h3>ONLINE STORE</h3>
        </div>

        <div class="col-lg-3 col-md-5 col-sm-4   col-4 order-xxl-2 order-xl-2 order-lg-2 ps-md-5 ms-md-5 ">
            <span class="ms-md-5 ps-md-5"><a href=""><i class=" fas fa-arrow-right arrow-box mb-2"></i></a>
            </span><span><a href=""><i class="fas arrow-box  fa-arrow-left mt-2"></i></a></span>
        </div>

        <div class="col-lg-4  col-md-12 col-sm-12 d order-xxl-1 order-xl-1 order-lg-1">
            <hr>
        </div>
    </div>
    <!-- online store heading and arrow section start -->
    <div class="container-fluid px-5 mt-5">
        <div class="row d-flex justify-content-evenly">
            <div class="col-lg-3 col-sm-6 d-flex justify-content-center">
                <div class="card border-0" style="width: 18rem;">
                    <img src="assets/pic/vitamins 4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="row pt-4 pb-2">Gym Product 1</div>
                        <div class="pb-2"><span><i class="far fa-star"></i></span><i class="far fa-star"></i><i
                                class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></div>
                        <div class="row color-orange pb-2">$12.00-$12.00</div>
                        <button class="back-color-orange" style="width: 110px;height: 40px;">Add to cart</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 d-flex justify-content-center">
                <div class="card border-0" style="width: 18rem;">
                    <img src="assets/pic/vitamins 1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="row pt-4 pb-2">Gym Product 1</div>
                        <div class="pb-2"><span><i class="far fa-star"></i></span><i class="far fa-star"></i><i
                                class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></div>
                        <div class="row color-orange pb-2">$12.00-$12.00</div>
                        <button class="back-color-orange" style="width: 110px;height: 40px;">Add to cart</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 d-flex justify-content-center">
                <div class="card border-0" style="width: 18rem;">
                    <img src="assets/pic/vitamins 2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="row pt-4 pb-2">Gym Product 1</div>
                        <div class="pb-2"><span><i class="far fa-star"></i></span><i class="far fa-star"></i><i
                                class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></div>
                        <div class="row color-orange pb-2">$12.00-$12.00</div>
                        <button class="back-color-orange" style="width: 110px;height: 40px;">Add to cart</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 d-flex justify-content-center">
                <div class="card border-0" style="width: 18rem;">
                    <img src="assets/pic/vitamins 5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="row pt-4 pb-2">Gym Product 1</div>
                        <div class="pb-2"><span><i class="far fa-star"></i></span><i class="far fa-star"></i><i
                                class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></div>
                        <div class="row color-orange pb-2">$12.00-$12.00</div>
                        <button class="back-color-orange" style="width: 110px;height: 40px;">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- online store section close -->



<!-- discount section image start -->
<div class="container-fluid py-5 discount p-sm-5 color">
    <div class="container-md  p-md-5">
        <div class="container-sm p-md-5">
            <div class="ms-sm-5  ps-sm-5">
                <h1 class="ms-md-5 mt-5 ps-md-5 pb-4">FITNESS CLASSES THIS SUMMER.</h1>
            </div>
            <div class="ms-sm-5 ps-sm-5">
                <h2 class="ms-md-5 ps-md-5 pb-2">PAY NOW AND</h2>
            </div>
            <div class="ms-sm-5 ps-sm-5">
                <h2 class="ms-md-5 ps-md-5">GET 35% DISCOUNT</h2>
            </div>
            <div class="ms-sm-5"><span class="ms-sm-5">
                    <span class="ms-sm-5 ">
                        <button class="ms-sm-5 px-sm-4 py-3 disc-btn mt-4 btn">BECOME A MEMBER</button></span>
                </span></div>
        </div>
    </div>
</div>
<!-- discount section image close -->





<!-- latest news section start -->
<div class="container-fluid my-5 color-gray pb-5">
    <div class="container-fluid my-5 ps-lg-4 pt-5">
        <div class="row px-md-3 px-sm-0 d-flex justify-content-lg-between">
            <div class=" ps-5 col-lg-4 col-md-6 col-sm-6 col-8  order-xxl-0  order-xl-0 order-lg-0">
                <h3>LATEST POSTS</h3>
            </div>

            <div class="col-lg-3 col-md-5 col-sm-4  col-4 order-xxl-2 order-xl-2 order-lg-2 ps-md-5 ms-md-5 ">
                <span class="ms-lg-5 ps-lg-5"><a href=""><i class="fas fa-arrow-right arrow-box mb-2"></i></a>
                </span><span><a href=""><i class="fas arrow-box  fa-arrow-left mt-2"></i></a></span>
            </div>

            <div class="col-lg-4  col-md-12 col-sm-12 d order-xxl-1 order-xl-1 order-lg-1">
                <hr>
            </div>
        </div>
    </div>
    <div class="container-fluid ">
        <div class="row d-flex px-5 justify-content-evenly">
            <div class="col-lg-4 col-md-6 col-sm-6 d-flex justify-content-center">
                <div class="card border-0 color-gray" style="width: 22rem;">
                    <img src="assets/pic/news 3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="card-text">
                        <h5>Lorem ipsum dolor sit amet sit amet consec tetur adipisi cin eli quam.</h5>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eius ea perspiciatis odit
                            laboriosam
                            ullam
                            hic repellat dolore.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4  col-md-6 col-sm-6 d-flex justify-content-center">
                <div class="card border-0 color-gray" style="width: 22rem;">
                    <img src="assets/pic/news 1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="card-text">
                        <h5>Lorem ipsum dolor sit amet sit amet consec tetur adipisi cin eli quam.</h5>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eius ea perspiciatis odit
                            laboriosam
                            ullam
                            hic repellat dolore.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4  col-md-6 col-sm-6 d-flex justify-content-center">
                <div class="card border-0 color-gray" style="width: 22rem;">
                    <img src="assets/pic/news 2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="card-text">
                        <h5>Lorem ipsum dolor sit amet sit amet consec tetur adipisi cin eli quam.</h5>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eius ea perspiciatis odit
                            laboriosam
                            ullam
                            hic repellat dolore.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- latest news section close -->


<app-footer></app-footer>