<app-header></app-header>
  <!--our planning section start  -->
  <div class="container-fluid planing-bac-col p-sm-5 mt-5">
    <div class="container-md ">
      <div class="row mb-4 ps-2 pt-5 pb-3 color text-lg-start text-center">
        <h3>OUR PRICING PLAN</h3>
      </div>
      <div class="row d-flex justify-content-evenly">
        <div class="col-4 mb-5 plan-card text-center p-5">
          <div>
            <h5 class="pt-3">STANDARD</h5>
          </div>
          <div class="py-3 d-flex flex-row justify-content-center">
            <h1 class="color-orange">$99</h1>
            <h5 class="pt-3">/month</h5>
          </div>
          <div class="py-1">Free Hand</div>
          <div class="py-1">Gym Fitness</div>
          <div class="py-1">Running</div>
          <div class="py-1">-------</div>
          <div class="py-1">-------</div>
          <div class="py-5 btn-res"><button class="px-5 plan-btn  py-sm-3">DETAILS</button></div>
        </div>

        <div class="col-4 mb-5 plan-card text-center p-5">
          <div>
            <h5 class="pt-3">PREMIUM</h5>
          </div>
          <div class="py-3 d-flex flex-row justify-content-center">
            <h1 class="color-orange">$199</h1>
            <h5 class="pt-3">/month</h5>
          </div>
          <div class="py-1">Free Hand</div>
          <div class="py-1">Gym Fitness</div>
          <div class="py-1">Running</div>
          <div class="py-1">Yoga</div>
          <div class="py-1">-------</div>
          <div class="py-5 btn-res"><button class="px-5 plan-btn  py-sm-3">DETAILS</button></div>
        </div>

        <div class="col-4 mb-5 plan-card text-center p-5">
          <div>
            <h5 class="pt-3">PLATINUM</h5>
          </div>
          <div class="py-3 d-flex flex-row justify-content-center">
            <h1 class="color-orange">$299</h1>
            <h5 class="pt-3">/month</h5>
          </div>
          <div class="py-1">Free Hand</div>
          <div class="py-1">Gym Fitness</div>
          <div class="py-1">Running</div>
          <div class="py-1">Yoga</div>
          <div class="py-1">Body Building</div>
          <div class="py-5 btn-res"><button class="px-5 plan-btn  py-sm-3">DETAILS</button></div>
        </div>
      </div>
    </div>
  </div>
  <!--our planning section close  -->
  <app-footer></app-footer>