<app-header></app-header>

    <!-- carousel se neja wala section start -->
    <div class="container-fluid mb-5">
        <div class="row">
          <div class="col-md-6 carousel-necha-pic"></div>
          <div class="col-md-6 color-gray">
            <div class="row ps-3 pt-3">
              <h3><i class="fas color-orange fa-arrows-alt-v pt-5 pe-2"></i><a href="" class="color-black">Weight
                  Lifting</a></h3>
              <div class="row ps-5 pt-2 pb-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
                neque,Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit </div>
            </div>
            <div class="row ps-3 pt-3">
              <h3><i class="fab color-orange fa-accessible-icon pt-5 pe-2"></i><a href="" class="color-black">Running</a>
              </h3>
              <div class="row ps-5 pt-2 pb-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
                neque,Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit </div>
            </div>
            <div class="row ps-3 pt-3">
              <h3><i class="fas color-orange fa-child pt-5 pe-2"></i><a href="" class="color-black">Yoga</a></h3>
              <div class="row ps-5 pt-2 pb-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati
                neque,Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit </div>
            </div>
          </div>
        </div>
      </div>
      <!-- carousel se neja wala section close -->
<app-footer></app-footer>